<h1>Option configurations</h1>
<hr>

<article>
  <h4>log</h4>
  <p>You can log changes in the stream, even without having to subscribe</p>

  <pre>
@Select('appSampleService', 'observableWithLog$', {{'{'}}log: true})
public observableWithLog$: Observable{{'<'}}boolean>;
  </pre>

  <pre>observableWithLog$: {{ observableWithLog$ | async | json}}</pre>
  <button
    mat-raised-button
    (click)="toggleObservableWithLog()"
  >toggleObservableWithLog()
  </button>
</article>

<hr>

<article>
  <h4>pipe</h4>
  <p>You can add RxJs operators to the pipe (e.g.: delay)</p>

  <pre>
@Subscribe('counterFacadeService', 'count$', {{'{'}}pipe: [delay(1000)]})
public observableWithOperator: number;
</pre>

  <pre>observableWithOperator: {{ observableWithOperator | json}}</pre>
  <button
    mat-raised-button
    (click)="counterFacadeService.counterIncrement()"
  >counterIncrement()
  </button>
  <button
    mat-raised-button
    (click)="counterFacadeService.counterDecrement()"
  >counterDecrement()
  </button>
</article>

<hr>

<article>
  <h4>subscriptionsCollector</h4>
  <p>You can indicate your own subscription collector</p>

  <pre>
@Subscribe('counterFacadeService', 'count$', {{'{'}}subscriptionsCollector: 'customSubscriptionsCollector'})
public observableCustomSubscriptionsCollector: number;
</pre>

  <pre>observableCustomSubscriptionsCollector: {{ observableCustomSubscriptionsCollector | json}}</pre>
  <button
    mat-raised-button
    (click)="counterFacadeService.counterIncrement()"
  >counterIncrement()
  </button>
  <button
    mat-raised-button
    (click)="unsubscribeCustomSubscriptionsCollector()"
  >unsubscribeCustomSubscriptionsCollector()
  </button>
</article>

<hr>

<article>
  <h4>takeUntil</h4>
  <p>In case if you want to use takeUntil as a unsubscription tool</p>

  <pre>
@Subscribe('counterFacadeService', 'count$', {{'{'}}takeUntil: 'takeUntilSubject'})
public observableWithTakeUntil: number;
</pre>

  <pre>observableWithTakeUntil: {{ observableWithTakeUntil | json}}</pre>
  <button
    mat-raised-button
    (click)="counterFacadeService.counterIncrement()"
  >counterIncrement()
  </button>
  <button
    mat-raised-button
    (click)="unsubscribeByTakeUntil()"
  >unsubscribeByTakeUntil()
  </button>
</article>

<hr>

<article>
  <h4>args</h4>
  <p>If you want to resolve injection method with passed argument</p>

  <pre>
@Get('counterFacadeService', 'countFunctionWithArg', {{'{'}}args: [3]})
public getCountFunctionWithArguments: number;
</pre>

  <pre>getCountFunctionWithArguments: {{ getCountFunctionWithArguments | json}}</pre>
  <button
    mat-raised-button
    (click)="counterFacadeService.counterIncrement()"
  >counterIncrement()
  </button>
</article>

<hr>
