
<h1>Basic usage</h1>
<hr>

<article>
  <pre>public count$: {{ count$ | async }}</pre>
  <pre>public count: {{ count }}</pre>
  <pre>public counterFacadeService.count$: {{ counterFacadeService.count$ | async }}</pre>
  <pre>public counterFacadeService.count: {{ counterFacadeService.count }}</pre>
  <pre>public countMultiplyBy$: {{ countMultiplyBy$ | async }}</pre>
</article>

<button
  mat-raised-button
  (click)="counterFacadeService.counterIncrement()"
>counterIncrement()</button>
<button
  mat-raised-button
  (click)="counterFacadeService.counterDecrement()"
>counterDecrement()</button>
<button
  mat-raised-button
  (click)="counterFacadeService.counterReset()"
>counterReset()</button>
<button
  mat-raised-button
  (click)="counterFacadeService.counterSet(10)"
>counterSet(10)</button>

